/* ==========================================================================
   Variables
   ========================================================================== */

//
// Colour Variables
// The palette that is used throught the app
// http://www.colourlovers.com/palette/15/tech_light
//

$grey: #505458;
$grey-light: #999;
$grey-lighter: #8b91a0;
$grey-lightest: #e5e9ec;
$grey-dark: #343838;
$grey-darkest: #1b1e24;

$white: #fff;
$black: #000;

$blue: #0090d9;
$blue-light: #4DBCE9;
$blue-dark: #1f8dd6;
$blue-navy: #22262e;

$green: #0aa699;

$red-light: #f35958;

$maroon: #736086;

//
// Font Variables
//

// Open Sans
// http://www.google.com/fonts/specimen/Open+Sans
// Normal 400, Bold 700
$font-main: 'Open Sans', sans-serif;

// Helvetica Neue
$font-support: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Media Queries
$extra-small-devices: "only screen and (max-width : 480px)";
$small-devices: "only screen and (max-width : 768px)";
$medium-devices: "only screen and (max-width : 1024px)";
$large-devices: "only screen and (min-width : 1200px)";