/**
 * Review Component
 */

.vsr-Review-section-title {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 1em;
}

// REVIEW INTRO, TITLE, BRAND ETC
.vsr-ReviewIntro {
    padding: 0 1em;
}

.vsr-ReviewIntro-brand {
    color: $grey-light;
    display: block;
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: -0.02em;
    text-transform: none;
    .mobile & {
        font-size: 0.5em;
    }
}

.vsr-ReviewIntro-title {
    display: block;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
    .mobile & {
        font-size: 0.88em;
    }
}

.vsr-ReviewIntro-author {
    font-size: 0.88em;
    font-weight: 400;
}

.vsr-ReviewIntro-author-links {
    i {
        margin: 0 5px;
    }
    .mobile & {
        display: block;
        i:first-child {
            margin-left: 0;
        }
    }
}

// REVIEW META INFO
.vsr-ReviewMeta {
    @include content-cell();
    overflow: hidden;
}

.vsr-ReviewMeta-item {
    display: inline;
    float: left;
    margin-bottom: 15px;
    text-align: center;
    width: 50%;
    .vsr-Review-buyOptions-price {
        color: $red-light;
        margin-bottom: 0;
    }
    &:nth-child(3), &:nth-child(4) {
        margin-bottom: 0;
    }
}

.vsr-ReviewMeta-score, .vsr-ReviewMeta-price {
    display: block;
    font-size: 1.3em;
    font-weight: 700;
}

.vsr-ReviewMeta-score {
    display: none;
    &.visible {
        display: block;
    }
}

.review-meta-score {
    margin: 13px 0 7px;
}

// REVIEW BODY
.vsr-Review-body {
    @include content-cell();
    padding-top: 0;
    h2, h3, h4, h5 {
        padding-top: 1em;
    }
    p {
        padding-top: 0.5em;
    }
}

// REVIEW SCORES
.vsr-Review-scores {
    @include content-cell();
}

// RELATED PRODUCTS
.vsr-RelatedProducts {
    @include content-cell();
}

.vsr-ProductList-item {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 10px;
    &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
    }
}

.vsr-ProductList-item-thumb {
    display: block;
    float: left;
    margin-right: 15px;
    width: 100px;
}

.vsr-ProductList-item-score {
    background: $green;
    color: $white;
    display: block;
    font-weight: 700;
    font-size: 0.75em;
    padding: 0.3em 0.4em;
    position: absolute;
    text-align: center;
}

.vsr-ProductList-item-brand, .vsr-ProductList-item-price-label {
    color: $grey-light;
    display: block;
    font-size: 0.8em;
}

.vsr-ProductList-item-title {
    display: block;
    font-weight: 700;
    // margin-bottom: 5px;
}

.vsr-ProductList-item-price {
    display: block;
}

// BUY OPTIONS
.vsr-Review-buyOptions {
    @include content-cell();
    overflow: hidden;
    .narrower & {
        min-height: 169px;
    }
    .mobile & {
        min-height: 0;
    }
}

.vsr-Review-buyOptions-price {
    display: block;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
    &:hover {
        color: $blue;
    }
}

.vsr-Review-buyOptions-meta {
    color: $grey;
    display: block;
    font-size: 0.6em;
    font-weight: 400;
    line-height: 1.8;
}

// SHARE OPTIONS
.vsr-Review-share {
    @include content-cell();
    min-height: 132px;
}