/**
 * Component
 */

.vsr-Social {
    margin-bottom: 0;
    > li {
        background-color: $grey-lighter;
        @include transition(background-color 0.15s ease-in);
        border-radius: 4px;
        margin-bottom: 0.6em;
        margin-right: 10px;
        min-height: 35px;
        &:last-child {
            margin-right: 0;
        }
        &.facebook {
            background-color: #3b5998;
        }
        &.twitter {
            background-color: #00aced;
        }
        &.googleplus {
            background-color: #dd4b39;
        }
        &.emailshare {
            background-color: $green;
        }
        > a {
            padding: 3px 5px;
        }
    }
    .button {
        top: 9px;
    }
}

@media #{$medium-devices} {
    .vsr-Content--main {
    .vsr-Social > li {
            margin-right: 5px;
            min-width: 74px;
        }
    }
}

@media #{$extra-small-devices} {
    .vsr-Social {
        > li {
            margin-right: 5px;
        }
    }
}
