/**
 * Button Component
 */

.Button {
    background-color: $blue;
    @include transition(background-color 0.2s linear);
    border: 0;
    border-radius: 4px;
    color: $white;
    font-weight: 700;
    max-width: 150px;
    &:hover {
        background-color: $red-light;
        color: $white;
    }
    &.Button--secondary {
      background-color: $red-light;
      color: $white;
      &:hover {
          background-color: $blue;
      }
    }
    &.Button--centered {
      margin: 0 auto;
    }
}