/**
* Component
*/

.slider {
    height: 403px;
    overflow: hidden;
    position: relative;
    padding: 0 0 40px;
    width: 100%;
}

.slides {
    height: 100%;

    /* Simple clear fix */
    overflow: hidden;

    /**
    * Prevent blinking issue
    * Not tested. Experimental.
    */
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;

    /**
    * Here is CSS transitions
    * responsible for slider animation in modern broswers
    */
    -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.slide {
    height: 100%;
    float: left;
    clear: none;
    line-height: 320px;
    padding: 10px 0;
    text-align: center;
    &.slide--white {
        background-color: $white;
    }
    img {
        max-width: 100%;
        vertical-align: middle;
    }
}


.slider-arrows {}

.slider-arrow {
    position: absolute;
    display: block;
    margin-bottom: -20px;
    padding: 20px;
}

.slider-arrow--right { bottom: 50%; right: 30px; }
.slider-arrow--left { bottom: 50%; left: 30px; }


.slider-nav {
    position: absolute;
    bottom: 15px;
}

.slider-nav__item {
    background: $white;
    clear: none;
    display: block;
    float: left;
    height: 12px;
    margin: 0 5px;
    width: 12px;
}

.slider-nav__item:hover { background: $blue-light; }
.slider-nav__item--current { background: $blue; }