/**
 * Component
 */

.vsr-Form-search {
    border-right: 1px solid $grey-lightest;
    margin-bottom: 10px;
    position: relative;
    .Form-item {
        margin-bottom: 0;
    }
    .vsr-Form-searchInput {
        color: $grey-lighter;
        height: 47px;
        width: 100%;
        .wide & {
            height: 57px;
        }
    }
}


// Autocomplete Panel
.vsr-Form-searchResultsPanel {
    background: $white;
    border-top: 1px solid $grey-lightest;
    display: none;
    padding: 1em;
    width: 100%;
}

.vsr-Form-searchResultsInfo {
    font-size: 0.9em;
    margin-bottom: 10px;
}