/* ==========================================================================
   Base utilities
   ========================================================================== */

/**
 * Global style overrides
 * Be very careful with these - they override everything!
 */

 *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }

 body {
    background-color: $grey-lightest;
    color: $grey;
    font-family: $font-main;
    font-size: 100%;
    line-height: 1.5;
    padding-top: 30px;
    // Firefox Overflow Fix
    // overflow-x: hidden;
 }

 a {
    color: $blue;
    @include transition(color 0.2s ease-in);
    text-decoration: none;
    &:hover {
        color: $red-light;
    }
 }

 button {
    color: $grey;
 }

// Global Layout Styles
@mixin content-cell($background: $white, $padding: 1em) {
    background: $background;
    border: 1px solid #ddd;
    padding: $padding;
}

//
// General utilities
// Styles that don't fit anywhere else
//

.mobile, ,.narrower, .narrow {
    .container--padding {
        padding: 1em;
    }
}

.vsr-Header--main {
    position: fixed;
    top: 0;
    width: 100%;
}

.u-fade-2 {
    opacity: 0.2!important;
    @include transition(opacity 0.25s ease-in);
}

.u-textHighlight {
    &.primary {
        color: $blue;
    }
}

.u-imgResponsive {
    width: 100%;
}

.u-avatar {
    background-color: $white;
    border-radius: 80px;
    margin-right: 10px;
    max-width: 100px;
    padding: 15px;
}

.u-Breaker {
    border: 0;
    height: 1px;
    background: $grey-lightest;
}

// Popups
.popup {
    background: #FFF;
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    position: relative;
    width: auto;
}

.popup-info {
    margin-top: 10px;
}