<ul class="vsr-Nav-productInfo">
  <li>
    <a href="<%= request.original_url %>" class="vsr-Nav-productInfo-item vsr-Nav-productInfo-item--title"><%= product.name %></a>
  </li>
  <li>
    <a href="<%= @product.amazon_link %>" class="vsr-Nav-productInfo-item vsr-Nav-productInfo-item--buy" data-track="true" data-category="Clickthrough" data-action="Amazon" data-location="nav-sidebar-1"><strong><%= product_price(product) %></strong> &ndash; Amazon</a>
  </li>
  <li>
    <ul class="socialcount socialcount-small vsr-Social vsr-Nav-productInfo-social" data-url="<%= request.original_url %>">
      <li class="vsr-Nav-productInfo-social-icon"><a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" title="Share on Facebook" data-track="true" data-category="Share" data-action="Facebook" data-location="nav-sidebar-1"><i class="fa fa-facebook"></i><span class="count"></span></a></li>
      <li class="vsr-Nav-productInfo-social-icon"><a href="https://twitter.com/intent/tweet?text=<%= request.original_url %>" title="Share on Twitter" data-track="true" data-category="Share" data-action="Twitter" data-location="nav-sidebar-1"><i class="fa fa-twitter"></i><span class="count"></span></a></li>
      <li class="vsr-Nav-productInfo-social-icon"><a href="https://plus.google.com/share?url=<%= request.original_url %>" title="Share on Google Plus" data-track="true" data-category="Share" data-action="Google Plus" data-location="nav-sidebar-1"><i class="fa fa-google-plus"></i><span class="count"></span></a></li>
    </ul>
  </li>
</ul>
<!--  .vsr-Nav-productInfo -->
