/**
 * @requires suit-grid
 */

// Overrides for default form styles

.Form-input {
    border: 0;
    border-left: 1px solid $grey-lightest;
    @include single-transition(border-left-color, 0.15s, ease-out, 0);
    color: $grey;
    font-size: 1em;
    outline: none;
    width: 100%;
    &:active, &:focus {
        border-left-color: $blue;
        color: $grey-dark;
    }
    &::-webkit-input-placeholder {
        color: darken($grey-lightest, 10%);
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: darken($grey-lightest, 10%);
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        color: darken($grey-lightest, 10%);
    }

    &:-ms-input-placeholder {
        color: darken($grey-lightest, 10%);
    }
}

label {
    font-size: 0.88em;
}

// QUESTION FORM
.vsr-Form--questions {
    .Form-label {
        color: $white;
    }
    textarea {
        height: 150px;
    }
}