/**
 * Component
 */

.vsr-Chart {
    overflow: auto;
}

.vsr-Chart-item {
    margin-bottom: 1em;
}

.vsr-Chart-value {
    background: #e5e5e5;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    height: 100px;
    margin: 0 auto 10px;
    position: relative;
    width: 25px;
    &.vsr-Chart-value--horizontal {
        border-radius: 0 4px 4px 0;
        height: 25px;
        width: 100%;
    }
}

.valueData {
    background-color: $blue;
    background-image: -webkit-gradient(
        linear,
        right top,
        left top,
        color-stop(0, #0AA699),
        color-stop(1, #1981C2)
    );
    background-image: -o-linear-gradient(left, #0AA699 0%, #1981C2 100%);
    background-image: -moz-linear-gradient(left, #0AA699 0%, #1981C2 100%);
    background-image: -webkit-linear-gradient(left, #0AA699 0%, #1981C2 100%);
    background-image: -ms-linear-gradient(left, #0AA699 0%, #1981C2 100%);
    background-image: linear-gradient(to left, #0AA699 0%, #1981C2 100%);
    bottom: 0;
    border: 1px solid #e5e5e5;
    border-right: 1px solid rgba(255,255,255,0.8);
    border-left: none;
    height: 0;
    @include transition(height 1.5s ease-in);
    display: block;
    position: absolute;
    width: 100%;
    @for $i from 1 through 100 {
        &.valueData--#{$i} {
            height: 1% * $i;
        }
    }
    &.valueData--100 {
        border-radius: 4px 4px 0 0;
    }
}

.vsr-Chart-value--horizontal {
    .valueData {
        border-radius: 0 5px 5px 0;
        @include transition(width 1.5s ease-in, height 0s);
        @for $i from 1 through 100 {
            &.valueData--#{$i} {
                height: 21px;
                margin-bottom: 1px;
                width: 1% * $i;
            }
        }
        &.valueData--100 {
            border-radius: 0 4px 4px 0;
        }
    }
}

.vsr-Chart-label--score {
    font-weight: 700;
}