/**
 * Component
 */

.vsr-Cell {
    padding: 0 20px;
    margin-bottom: 30px;
    .u-supportColor {
        color: rgba(0, 0, 0, 0.39);
    }
}

.vsr-Cell-Title {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    .fa {
        margin-left: 2px;
    }
}

.vsr-Cell-Title--meta {
    color: $grey-lighter;
    font-size: 0.9em;
    margin-bottom: 10px;
}

%styled-cell {
    padding: 20px;
}

.vsr-Cell--white {
    @extend %styled-cell;
    background-color: $white;
}

.vsr-Cell--dark {
    @extend %styled-cell;
    background-color: $grey-darkest;
}

.vsr-Cell--blue {
    @extend %styled-cell;
    background-color: $blue;
    color: #0d638f;
}

// Media Queries
@media #{$small-devices} {
    .vsr-Cell-Title {
        font-size: 0.9em;
    }
}