/**
 * Component
 */

$NavMainHeight: 48px;
$NavMainPadding: 0.4em;

.vsr-Nav--main {
    background-color: $white;
    border-bottom: 1px solid #ddd;
    height: $NavMainHeight;
}

.vsr-Nav-brand {
    color: $blue-navy;
    display: inline-block;
    float: left;
    font-size: 1.3em;
    padding: $NavMainPadding;
    text-align: center;
}

.vsr-Nav-main-items {
    display: table;
}

.vsr-Nav-main-item {
    border-left: 1px solid $grey-lightest;
    color: $grey-lighter;
    display: block;
    float: left;
    height: $NavMainHeight;
    font-size: 0.88em;
    line-height: 1.5em;
    padding: 0.9em $NavMainPadding $NavMainPadding;
    text-align: center;

    i {
        font-size: 1.2em;
        width: 33px;
    }

    span {
        display: none;
    }
}

.vsr-Nav-main-item--search {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

//  --------------------
//  Intro Panel
//  --------------------

#infoPanel {
    background-color: $grey-darkest;
    padding: 1em;
}

.vsr-Panel {
    display: none;
}

.vsr-Panel-title {
    color: $white;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.vsr-Panel-SubTitle {
    color: $grey-lighter;
    font-size: 0.88em;
    margin-bottom: 1em;
}


// .vsr-Nav-productInfo {
//     background-color: #22262e;
//     border: 1px solid darken(#22262e, 15%);
//     border-width: 1px 0;
// }

// .vsr-Nav-productInfo-item {
//     color: $grey-lightest;
//     display: block;
//     font-size: 0.9em;
//     padding: 0.5em 0 0.9em 1.2em;
// }

// .vsr-Nav-productInfo-item--title {
//     color: $white;
//     font-weight: 700;
//     padding: 0.9em 0 0.3em 1.2em;
//     .fa {
//         float: right;
//         margin-right: 0.9em;
//         display: block;
//         margin-top: 4px;
//     }
// }

// .vsr-Nav-productInfo-item--buy {
//     color: $blue-light;
//     display: block;
//     @include transition(color 0.15s ease-in);
//     &:hover {
//         color: lighten($blue-light, 5%);
//     }
// }

// .vsr-Nav-productInfo-social {
//     margin-bottom: 0;
//     padding-left: 1.1em;
// }

// .vsr-Nav-productInfo-social > .vsr-Nav-productInfo-social-icon {
//     background-color: darken(#22262e, 15%);
//     width: 30px;
// }


// .vsr-Nav-Intro {
//     padding: 0 $NavMainPadding;
// }

// .vsr-Nav-Intro-Title {
//     color: $grey-lightest;
//     font-size: 1em;
//     font-weight: normal;
//     margin-bottom: 5px;
//     span {
//         font-size: 0.9em;
//         font-weight: normal;
//         margin-left: 3px;
//     }
// }

// .vsr-Nav-Intro-Detail {
//     color: $grey-light;
//     font-size: 0.75em;
//     line-height: 1.5;
//     margin-bottom: 10px;
// }

// // Flyout Navigation
// .vsr-NavContentContainer {
//     background-color: #fff;
//     border: #ccc solid;
//     border-width: 1px 1px 1px 0;
//     display: none;
//     height: 440px;
//     padding: 15px 25px;
//     position: fixed;
//     top: 56px;
//     width: auto;
//     z-index: 1;
//     &.is-active {
//         display: block;
//     }
// }

// .vsr-NavContentContainer-Close {
//     background: transparent;
//     border: 0;
//     font-size: 2em;
//     position: absolute;
//     right: 25px;
// }

// .vsr-Nav-flyout {
//     display: none;
//     &.is-active {
//         display: block;
//     }
// }

// .vsr-Nav-flyout-Title {
//     font-size: 2em;
//     font-weight: 700;
//     margin-bottom: 40px;
// }

// .vsr-Nav-flyout-SubTitle {
//     color: $grey-light;
//     margin-bottom: 30px;
//     margin-top: -20px;
// }

// .vsr-Form--Nav-flyout {
//     label {
//         font-weight: 700;
//         margin-bottom: 10px;
//     }
//     input[type=text], input[type=email], textarea {
//         border-color: $grey-light;
//         border-width: 1px;
//         color: $grey-light;
//         padding-bottom: 0.8em;
//         padding-top: 0.8em;
//         width: 100%;
//     }
//     textarea {
//         height: 149px;
//     }
//     input[type=submit] {
//         background-color: $blue-dark;
//         border-color: lighten($blue-dark, 20%);
//         border-width: 0 0 0 4px;
//         color: #fff;
//         font-size: 1.2em;
//         padding: 0.5em 0.9em;
//         margin-right: 10px;
//         min-width: 160px;
//     }
// }

// .vsr-Form--Nav-flyout-Submit-row {
//     margin-top: 10px;
// }

// // Flyout Products
// .vsr-Nav-flyout-Product-items {
//     margin-top: -60px;
//     a {
//         color: $grey;
//         display: block;
//         &:hover {
//             color: $blue-dark;
//         }
//     }
// }

// .vsr-Nav-flyout-Product-item {
//     margin-top: 60px;
//     text-align: center;
//     .fa {
//         display: block;
//         font-size: 3em;
//         margin-bottom: 10px;
//     }
// }

// // Flyout Questions
// .vsr-Form--Nav-flyout-Question-Subscribe {
//     margin-right: 2px;
// }

// label.vsr-Form--Nav-flyout-Question-Subscribe-Label {
//     font-weight: normal;
//     margin-top: 10px;
// }


// // Media Queries
// @media #{$large-devices} {
//     .vsr-NavContentContainer {
//         width: 85%;
//     }
// }

// @media #{$medium-devices} {

//     .vsr-Nav--sd {
//         display: inline-block;
//         position: relative;
//         width: 160px;
//         z-index: 4;
//     }

//     .vsr-Nav-Toggle {
//         background-color: #22262e;
//         color: #fff;
//         cursor: pointer;
//         font-size: 1.4em;
//         padding: 10px 20px 12px;
//     }

//     .vsr-Nav-brand {
//         float: left;
//         padding-right: 0.25em;
//     }

//     .u-navContainer {
//         background: $grey-darkest;
//         display: block;
//         height: 0;
//         @include transition(height 0.25s ease-in);
//         overflow: hidden;
//         top: 55px;
//         width: 160px!important;
//         z-index: 2;
//     }

//     .u-navContainer.is-active {
//         height: 271px;
//     }

//     .vsr-NavContentContainer {
//         left: 160px;
//         overflow: auto;
//         width: auto;
//     }

//     .vsr-NavContentContainer-Close {
//         top: 8px;
//     }

//     .vsr-Nav-flyout-Title {
//         font-size: 1.2em;
//         width: 93%;
//     }

// }

// @media #{$extra-small-devices} {

//     .vsr-Nav--sd {
//         background-color: #22262e;
//         overflow: hidden;
//         width: 100%;
//     }

//     .u-navContainer {
//         z-index: 2;
//     }

//     .vsr-NavContentContainer {
//         z-index: 2;
//     }

//     .vsr-NavContentContainer.is-active {
//         height: 400px;
//         left: 0;
//         overflow: auto;
//         width: 100%;
//     }

//     .vsr-Nav-flyout-Title {
//         font-size: 1.2em;
//         margin-bottom: 60px;
//         width: 83%;
//     }

//     .vsr-NavContentContainer-Close {
//         font-size: 1.7em;
//         top: 6px;
//     }

//     .vsr-Nav-flyout-Product-item {
//         margin-top: 20px;
//     }

// }