<%= form_for @question_form, html: {id: "questionForm", class: "vsr-Form vsr-Form--questions"} do |f| %>
  <fieldset>
        <div class="Form-item">
          <%= f.label(:name, "Name:", class: "Form-label") %>
          <%= f.text_field :name, class: "Form-input", required: "required" %>
        </div>
        <!--  .Form-item -->
        <div class="Form-item">
          <%= f.label(:email, "Email:", class: "Form-label") %>
          <%= f.text_field :email, class: "Form-input", required: "required" %>
        </div>
        <!--  .Form-item -->
        <div class="Form-item">
          <%= f.label(:question, "Question:", class: "Form-label") %>
          <%= f.text_area :question, class: "Form-input", required: "required" %>
        </div>
        <!--  .Form-item -->
        <div class="Form-item">
          <%= submit_tag "Ask", class: "Button" %>
        </div>
        <!--  .Form-item -->
     <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  </fieldset>
<% end %>
<!--  End questions form -->
