<form class="vsr-Form vsr-Form-search" id="vsrSearchForm">
    <div class="Form-item">
        <input class="Form-input vsr-Form-searchInput" type="text" name="vsr-search-term" value="" placeholder="Search for a product..." id="vsrSearchInput" data-category="Search" data-location="search-1" autocomplete='off'/>
    </div>

    <div class="vsr-Form-searchResultsPanel" id="vsrSearchResultsPanel">

        <p class="vsr-Form-searchResultsInfo"><a href="/about">Visor</a> is currently in the process of stocking up it's database. Your search for <strong class="searchTermValue">SEARCH TERM</strong> has been added to the list of products for review.</p>
        <p class="vsr-Form-searchResultsInfo">These are some of the products it has reviewed so far. To be notified when it has a review for <strong class="searchTermValue">SEARCH TERM</strong> please click <strong>Keep up to date</strong> in the navigation and subscribe to our newsletter.</p>

    </div>
    <!--  .vsr-Search-Autocomplete -->

</form>
<!--  .Form vsr-Form-Search -->