//  --------------------
//  Styles for Mobile devices
//  Viewport: Less than 640px
//  --------------------

@import 'extensions/variables';

.mobile {

  body {
    padding-top: 30px;
  }

  // Nav
  .vsr-Nav-brand {
    border-right: 0;
    float: none;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 110px;
  }

  .vsr-Nav-main-item {
    padding-top: 1em;
  }

  // Search
  #searchPanel {
    background: $grey-darkest;
  }

  .vsr-Nav-main-items {
    display: block;
  }

  .vsr-Nav-main-item {
    border-left: none;
    border-right: 1px solid $grey-lightest;
  }

  .vsr-Nav-main-item--search {
    border-left: 1px solid $grey-lightest;
    border-right: 0;
    display: list-item;
    float: right;
    width: auto;
  }

  .vsr-Search {
    input {
      margin-bottom: 10px;
    }
  }

  // Autocomplete Panel
  .vsr-Search-results-panel {
    background-color: transparent;
    border-top: 0;
    display: block;
    padding: 0 10px;
    width: 100%;
  }

  .vsr-Search-results-info {
    color: $white;
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  // Review
  .vsr-Social > li {
    width: 47%;
  }

}