//  --------------------
//  Styles for Wide devices
//  Viewport: Greater than 961px (to 1880px)
//  --------------------

@import 'extensions/variables';

$NavMainHeight: 58px;

.wide {

  body {
    padding-top: 70px;
  }

  // NAV
  .vsr-Nav--main {
    height: $NavMainHeight;
  }

  .vsr-Nav-brand {
    border-left: 1px solid $grey-lightest;
    padding: 0.6em;
  }

  .vsr-Nav-main-item {
    height: $NavMainHeight;
    padding-top: 1.3em;
  }

  // SEARCH
  .vsr-Search {
    border-right: 1px solid $grey-lightest;
    margin-bottom: 0;
  }

  .vsr-Search input[type=text] {
    height: 57px;
  }

  .vsr-Search-submit {
    top: 13px;
  }

  // REVIEW
  .vsr-ReviewIntro {
    padding-top: 2.4em;
  }

  .vsr-Social > li {
    margin-right: 5px;
  }

}