<div class="vsr-Cell">
    <h1>Welcome to a new way of reviewing products</h1>
</div>
<!--  .vsr-Cell -->

<div class="vsr-Cell vsr-Cell--white">

    <p class="">Visor is a review site that creates living product reviews that change over time with the life of the product.</p>

    <p class="">Our reviews always stay up to date based on how the product currently performs against others in the market.</p>

</div>
<!--  .vsr-Cell -->
