<h2 class="vsr-Review-section-title">Other products like this</h2>

<ul class="vsr-ProductList vsr-ProductList--related">
  <% related.each do |product| %>
    <li class="vsr-ProductList-item">
      <%= link_to review_path(product.review), class: "vsr-ProductList-item-thumb", title: product.full_name do %>
          <img class="u-imgResponsive" src="<%= product.vanity.image.thumb('x100').url %>" alt="<%= product.vanity.description %>">
      <% end %>

      <%= link_to(review_path(product.review), html_options = {class: "vsr-ProductList-item-score", title: "Score"}) do %>
        <%= product.display_score_value %>
      <% end %>

      <%= link_to product.brand_name, review_path(product.review), class: "vsr-ProductList-item-brand" %>
      <%= link_to product.name, review_path(product.review), class: "vsr-ProductList-item-title" %>
      <%= link_to(review_path(product.review), html_options = {class: "vsr-ProductList-item-price"}) do %>
        <span class="vsr-ProductList-item-price-label">Price:</span> <%= product_price(product) %>
      <% end %>
    </li>
  <% end %>
</ul>
