<ul class="vsr-Search-results Grid Grid--withGutter">
  <% products.each do |product| %>
    <li class="Grid-cell u-size1of4">
      <a class="vsr-Search-result" href="#">
        <img class="vsr-Search-result-thumb u-alignMiddle u-pullLeft" src="<%= product.vanity.image.thumb('75x75#').url %>" alt="">
        <span class="vsr-Search-result-vendor"><%= product.brand_name %></span><span class="vsr-Search-result-model"><%= product.name %></span>
      </a>
    </li>
  <% end %>
</ul>
