<% if show_gallery?(gallery) %>
  <div class="slider vsr-Cell" id="sliderProduct">
    <ul class="slides">
      <% gallery.each do |item| %>
        <li class="slide slide--white">
          <img src="<%= item.image.thumb('343x343').url %>" alt="<%= item.description %>">
        </li>
      <% end %>
    </ul>
  </div>
  <!-- .slider -->
<% end %>
