<li class="vsr-Chart-item">
  <div class="vsr-Chart-value vsr-Chart-value--horizontal">
    <span class="valueData" data-value="<%= score.display_score_value %>"></span>
  </div>
  <!--  .vsr-Chart-Value -->
  <p class="vsr-Chart-label"><%= score.name %>: <span class="vsr-Chart-label vsr-Chart-label--score"><%= score.display_score_value %>/100</span></p>
</li>
