<header class="vsr-Header vsr-Header--main skel-panels-fixed" id="mobileHeader">

    <%= render 'layouts/nav' %>

</header>

<div id="infoPanel" class="vsr-Panel vsr-Panel--info">
    <p class="vsr-Panel-title">Do you have a question?</p>

    <p class="vsr-Panel-SubTitle">Visor really appreciates all feedback, suggestions and ideas so if there is anything you would like to know about Visor or his service then please feel free to get in touch.</p>

    <%= render 'forms/question_form' %>

</div>
<!-- #infoPanel  -->