<div class="vsr-NavContentContainer nav-target" id="navContentContainer">

    <button class="vsr-NavContentContainer-Close" id="navContentContainerClose"><i class="fa fa-times"></i></button>

    <div class="vsr-Nav-flyout vsr-Nav-flyout-Products" id="navContent1">

        <p class="vsr-Nav-flyout-Title">What sort of product are you looking for?</p>

        <p class="vsr-Nav-flyout-SubTitle">Visor is just getting going and he currently has a limited number of products in his database. The product categories below represent a sample of what is to come from Visor in the near future.</p>

        <ul class="vsr-Nav-flyout-Product-items Grid">
            <li class="vsr-Nav-flyout-Product-item Grid-cell u-size1of5 u-sd-size1of2"><a href="#nav-product-popup" class="open-popup-link"><i class="fa fa-mobile" data-track="true" data-category="Click" data-action="Phones" data-location="nav-product-flyout-1"></i>Phones</a></li>
            <li class="vsr-Nav-flyout-Product-item Grid-cell u-size1of5 u-sd-size1of2"><a href="#nav-product-popup" class="open-popup-link"><i class="fa fa-camera" data-track="true" data-category="Click" data-action="Cameras" data-location="nav-product-flyout-1"></i>Cameras</a></li>
            <li class="vsr-Nav-flyout-Product-item Grid-cell u-size1of5 u-sd-size1of2"><a href="#nav-product-popup" class="open-popup-link"><i class="fa fa-laptop" data-track="true" data-category="Click" data-action="Laptops" data-location="nav-product-flyout-1"></i>Laptops</a></li>
            <li class="vsr-Nav-flyout-Product-item Grid-cell u-size1of5 u-sd-size1of2"><a href="#nav-product-popup" class="open-popup-link"><i class="fa fa-desktop" data-track="true" data-category="Click" data-action="Desktops" data-location="nav-product-flyout-1"></i>Desktops</a></li>
            <li class="vsr-Nav-flyout-Product-item Grid-cell u-size1of5 u-sd-size1of2"><a href="#nav-product-popup" class="open-popup-link"><i class="fa fa-headphones" data-track="true" data-category="Click" data-action="Headphones" data-location="nav-product-flyout-1"></i>Headphones</a></li>
        </ul>

        <div id="nav-product-popup" class="popup mfp-hide">
            <h1 class="popup-title">Thanks for using Visor</h1>

            <p class="popup-info">Visor has noted down what sort of products your looking for and will add it to the list of items he is filling up the database with.</p>

            <p class="popup-info">If you'd like to know when he adds more items to the site, just click the <strong>Keep up to date</strong> link in the main menu to subscribe to his updates.</p>
        </div>
        <!-- #aboutPopup -->

    </div>

    <div class="vsr-Nav-flyout vsr-Nav-flyout--questions" id="navContent2">

        <p class="vsr-Nav-flyout-Title">Do you have a question?</p>

        <p class="vsr-Nav-flyout-SubTitle">Visor really appreciates all feedback, suggestions and ideas so if there is anything you would like to know about Visor or his service then please feel free to get in touch.</p>


    </div>

    <div class="vsr-Nav-flyout vsr-Nav-flyout--subscribe" id="navContent3">

        <p class="vsr-Nav-flyout-Title">Stay up to date with our latest news.</p>

        <p class="vsr-Nav-flyout-SubTitle">To be the first to know what Visor is doing just fill in your name and email below. He never spams.</p>

        <form class=" Form vsr-Form--Nav-flyout vsr-Form--Nav-flyout--subscribe" action="http://visor.us3.list-manage.com/subscribe/post?u=fd3f97944618812b26c05c0f3&amp;id=1091288a14" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" parsley-validate>
            <fieldset>
                <div class="Grid Grid--withGutter">
                    <div class="Grid-cell u-size6of12 u-sd-size1of1">
                        <div class="Form-item">
                            <label for="mce-FNAME">First Name:</label>
                            <input type="text" value="" name="FNAME" class="Form-input" required id="mce-FNAME">
                        </div>
                    </div>
                    <!--  .Grid-cell u-size6of12 -->
                    <div class="Grid-cell u-size6of12 u-sd-size1of1">
                        <!--  .Form-item -->
                        <div class="Form-item">
                            <label for="mce-LNAME">Last Name:</label>
                            <input type="text" value="" name="LNAME" class="Form-input" required id="mce-LNAME">
                        </div>
                    </div>
                    <!--  .Grid-cell u-size6of12 -->
                    <div class="Grid-cell u-size12of12 u-sd-size1of1">
                        <!--  .Form-item -->
                        <div class="Form-item">
                            <label for="mce-EMAIL">Email:</label>
                            <input type="email" name="EMAIL" value="" required class="Form-input required" id="mce-EMAIL" parsley-trigger="change" />
                        </div>
                        <!--  .Form-item -->
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_fd3f97944618812b26c05c0f3_1091288a14" value=""></div>
                    </div>
                    <!--  .Grid-cell u-size8of12 -->
                    <div class="Grid-cell u-size12of12 vsr-Form--Nav-flyout-Submit-row">
                        <div class="Form-item">
                            <input class="Form-input" type="submit" name="subscribe" value="Subscribe" id="mc-embedded-subscribe" />
                        </div>
                        <!--  .Form-item -->
                    </div>
                    <!--  .Grid-cell u-size4of12 -->
                </div>
                <!--  .Grid Grid-withGutter -->
            </fieldset>
        </form>

    </div>
</div>
<!--  .NavContentContainer -->
