<div id="navHolder">

    <div class="vsr-Nav vsr-Nav--main">

        <div class="container">

            <a class="vsr-Nav-brand" href="http://visor.io/">VISOR<span class="u-textHighlight primary">.</span>io</a>

            <ul class="vsr-Nav-main-items" id="navItems">
                <li><a href="#" class="vsr-Nav-main-item nav-target skel-panels-include" data-action="togglePanel" data-args="infoPanel"><i class="fa fa-question"></i><span class="nav">Ask a question</span></a></li>
                <li><a href="#" class="vsr-Nav-main-item vsr-Nav-main-item--search nav-target skel-panels-include only-mobile" data-behavior="open" data-target="navContent3" data-action="togglePanel" data-args="searchPanel"><i class="fa fa-search"></i><span class="nav">Keep up to date</span></a></li>
                <li class="not-mobile vsr-Nav-main-item--search">
                    <%= render 'forms/search_form' %>
                </li>
            </ul>

            <div class="vsr-Nav-Intro" style="display:none">
                <h1 class="vsr-Nav-Intro-Title">What is Visor<span class="u-textHighlight primary">?</span></h1>

                <p class="vsr-Nav-Intro-Detail">Visor is a review site that creates living product reviews that change over time with the life of the product.</p>

                <p class="vsr-Nav-Intro-Detail">Our reviews always stay up to date based on whether or not people are still happy with their product.</p>
            </div>
            <!--  .vsr-Nav-Intro -->

        </div>
        <!--  .container -->

    </div><!-- .Nav main -->

</div><!-- #navHolder -->
