<!DOCTYPE html>
<html>
<head>
  <title><%= title_tag(@review) %></title>
  <meta name="viewport" content="initial-scale=1">
  <meta name="description" content="<%= description_tag(@review) %>">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="no-js">

  <%= render 'layouts/header' %>

  <%= yield %>

  <%= javascript_include_tag "application" %>
  <%= render 'shared/crazy_egg' %>
  <%= render 'shared/google_analytics' %>
</body>
</html>
